In [3]:
import pandas as pd
from numpy import nan as NA
data=pd.Series([1,NA,3.5,NA,7])

data.dropna()

0    1.0
2    3.5
4    7.0
dtype: float64

In [4]:
data[data.notnull()]

0    1.0
2    3.5
4    7.0
dtype: float64

In [5]:
ages=[20,22,25,27,21,23,37,31,61,45,41,32]

bins=[18,25,35,60,100]

cats=pd.cut(ages,bins)

cats

[(18, 25], (18, 25], (18, 25], (25, 35], (18, 25], ..., (25, 35], (60, 100], (35, 60], (35, 60], (25, 35]]
Length: 12
Categories (4, interval[int64]): [(18, 25] < (25, 35] < (35, 60] < (60, 100]]

In [7]:
cats.codes

array([0, 0, 0, 1, 0, 0, 2, 1, 3, 2, 2, 1], dtype=int8)

In [8]:
cats.categories

IntervalIndex([(18, 25], (25, 35], (35, 60], (60, 100]]
              closed='right',
              dtype='interval[int64]')

In [9]:
pd.value_counts(cats)

(18, 25]     5
(35, 60]     3
(25, 35]     3
(60, 100]    1
dtype: int64

In [11]:
import numpy as np
df=pd.DataFrame(np.arange(5*4).reshape((5,4)))
df

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19

In [14]:
sampler=np.random.permutation(5)
sampler

array([1, 4, 2, 3, 0])

In [15]:
df.take(sampler)

    0   1   2   3
1   4   5   6   7
4  16  17  18  19
2   8   9  10  11
3  12  13  14  15
0   0   1   2   3

Computing Indicator/Dummy Variables

In [1]:
import pandas as pd
df=pd.DataFrame({"key":['b','b','a','c','a','b'],
                "data1":range(6)})
df

   data1 key
0      0   b
1      1   b
2      2   a
3      3   c
4      4   a
5      5   b

In [2]:
pd.get_dummies(df["key"])

   a  b  c
0  0  1  0
1  0  1  0
2  1  0  0
3  0  0  1
4  1  0  0
5  0  1  0

In [3]:
dummies=pd.get_dummies(df["key"],prefix="key")
dummies

   key_a  key_b  key_c
0      0      1      0
1      0      1      0
2      1      0      0
3      0      0      1
4      1      0      0
5      0      1      0

In [4]:
df_with_dummy=df[["data1"]].join(dummies)
df_with_dummy

   data1  key_a  key_b  key_c
0      0      0      1      0
1      1      0      1      0
2      2      1      0      0
3      3      0      0      1
4      4      1      0      0
5      5      0      1      0

In [5]:
val="a,b,   guido"

val.split(",")

['a', 'b', '   guido']

In [6]:
pieces=[x.strip() for x in val.split(",")]
pieces

['a', 'b', 'guido']

In [7]:
first,second,third=pieces

first+"::"+second+"::"+third

'a::b::guido'

In [8]:
"::".join(pieces)

'a::b::guido'

In [9]:
"guid" in val

True

In [10]:
val.index(",")

1

In [11]:
val.find(":")

-1