In [1]:
import numpy as np
import pandas as pd

values=pd.Series(["apple","orange","apple","apple"]*2)

values

0     apple
1    orange
2     apple
3     apple
4     apple
5    orange
6     apple
7     apple
dtype: object

In [2]:
pd.unique(values)

array(['apple', 'orange'], dtype=object)

In [3]:
pd.value_counts(values)

apple     6
orange    2
dtype: int64

In [5]:
values=pd.Series([0,1,0,0]*2)

dim=pd.Series(["apple","orange"])

values

dim

0     apple
1    orange
dtype: object

In [6]:
dim.take(values)

0     apple
1    orange
0     apple
0     apple
0     apple
1    orange
0     apple
0     apple
dtype: object

In [8]:
fruits=["apple","orange","apple","apple"]*2

N=len(fruits)

df=pd.DataFrame({"fruit":fruits,
                "basket_id":np.arange(N),
                "count":np.random.randint(3,15,size=N),
                "weight":np.random.uniform(0,4,size=N)},
                columns=["basket_id","fruit","count","weight"])

df

   basket_id   fruit  count    weight
0          0   apple      9  2.374233
1          1  orange      3  2.565341
2          2   apple     13  0.455242
3          3   apple     11  1.540821
4          4   apple      8  3.394113
5          5  orange      9  3.617706
6          6   apple      6  1.348955
7          7   apple      3  1.709400

In [11]:
fruit_cat=df["fruit"].astype("category")
fruit_cat

0     apple
1    orange
2     apple
3     apple
4     apple
5    orange
6     apple
7     apple
Name: fruit, dtype: category
Categories (2, object): [apple, orange]

In [12]:
c=fruit_cat.values

type(c)

pandas.core.categorical.Categorical

In [13]:
c.categories

Index(['apple', 'orange'], dtype='object')

In [14]:
c.codes

array([0, 1, 0, 0, 0, 1, 0, 0], dtype=int8)