### Tuple
A tuple is a fixed-length, immutable sequence of Python objects. The easiest way to create one is with a comma-sequence of values:

In [1]:
tup=4,5,6

tup

(4, 5, 6)

In [2]:
nested_tup=(4,5,6),(7,8)

nested_tup

((4, 5, 6), (7, 8))

In [3]:
tuple([4,0,2])

(4, 0, 2)

In [5]:
tup=tuple('string')

tup

tup[0]

's'

In [9]:
#While the objects stored in a tuple may be mutable themselves, once the tuple is 
#created it's not possible to modify which object is tored in each slot:

tup=tuple(['foo',[1,2],True])

tup[2]=False

TypeError: 'tuple' object does not support item assignment

In [11]:
#if an object inside a tuple is mutable, such as a list, you can modify it in-place:

tup[1].append(3)
tup

('foo', [1, 2, 3, 3], True)

In [12]:
#you can concatenate tuple using the + operator to produce longer tuples:

(4,None,'foo')+(6,0)+('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [13]:
#multiplying a tuple by an integer, as with lists, has the effect of concatenating
#together that may copies of the tuple:

('foo','bar')*4

#Note that the objects themselves are not copies, only the references to them.

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [14]:
#if you try to assign to a tuple-like expression of variables, Python will attempt to
#unpack the value on the righthand side of the equals sign:

tup=(4,5,6)
a,b,c=tup
b

5

In [15]:
tup=4,5,(6,7)
a,b,(c,d)=tup
d

7

In [16]:
seq=[(1,2,3),(4,5,6),(7,8,9)]

for a,b,c in seq:
    print('a={0},b={1},c={2}'.format(a,b,c))

a=1,b=2,c=3
a=4,b=5,c=6
a=7,b=8,c=9

In [21]:
values=1,2,3,4,5
a,b,*rest=values

a,b
rest

[3, 4, 5]

In [25]:
a=(1,2,2,2,3,4,2)

a.count(2)

4

### List
In contrast with tuples, lists are variable-length and their contents can be modified in-place. you can define them using sequare brackets [] or using the list type function:

In [28]:
a_list=[2,3,7,None]
tup=('foo','bar','baz')

b_list=list(tup)

b_list

b_list[1]='peekaboo'
b_list

['foo', 'peekaboo', 'baz']

In [31]:
#The list function is freqquently used in data processing as a way to materialize an
#iterator or generator expression:

gen=range(10)
gen

list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [34]:
b_list.append('dwarf')

b_list

['foo', 'peekaboo', 'baz', 'dwarf', 'dwarf', 'dwarf']

In [36]:
b_list.insert(1,'red')

b_list

['foo', 'red', 'red', 'peekaboo', 'baz', 'dwarf', 'dwarf', 'dwarf']

In [37]:
b_list.pop(2)

'red'

In [38]:
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf', 'dwarf', 'dwarf']

In [39]:
b_list.append('foo')
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf', 'dwarf', 'dwarf', 'foo']

In [40]:
b_list.remove('foo')
b_list

['red', 'peekaboo', 'baz', 'dwarf', 'dwarf', 'dwarf', 'foo']

In [43]:
'red' in b_list

'dwarf' not in b_list

False

In [44]:
[4,None,'foo']+[7,8,(2,3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [45]:
#if you have a list already defined, you can append multiple elements to it using the
#extend method:

x=[4,None,'foo']
x.extend([7,8,(2,3)])

x

[4, None, 'foo', 7, 8, (2, 3)]

Note that list concatenation by addition is a comparatively expensive operation since a new list must be created and objects copied over. Using extend to append elements to an existing list, especially if you are building up a large list, is usually preferable. Thus,


everything=[]

for chunk in list_of_lists:

    everything.extend(chunk)
    
is faster than the concatenative alternative:

everything=[]

for chunk in list_of_list:

    everything=everything+chunk

In [46]:
#you can sort a list in-place (without creating a new object) by calling its sort 
#function:

a=[7,2,5,1,3]
a.sort()

a

[1, 2, 3, 5, 7]

In [47]:
b=['saw','small','He','foxes','six']

b.sort(key=len)

b

['He', 'saw', 'six', 'small', 'foxes']

In [51]:
#The built-in bisect 二分查找 module implement binary search and insertion into a 
#sorted list. bisect.bisect finds the location where an element should be inserted to
#keep it sorted, while bisect.insort actually inserts the element into that location:

import bisect
c=[1,2,2,2,3,4,7]
bisect.bisect(c,2)

bisect.insort(c,6)
c

#The bisect module functions do not check whether the list is sorted, as doing so
#would be computationally expensive.Thus, using them with an unsorted list will succeed
#without error but may lead to incorrect result.

[1, 2, 2, 2, 3, 4, 6, 7]

In [52]:
seq=[7,2,3,7,5,6,0,1]
seq[1:5]

#While the element at the start index is included, the stop index is not included, so
#that the number of elements in the result is stop-start

[2, 3, 7, 5]

In [53]:
seq[:5]

[7, 2, 3, 7, 5]

In [54]:
seq[3:]

[7, 5, 6, 0, 1]

In [55]:
seq[-4:]

[5, 6, 0, 1]

In [56]:
seq[-4:-2]

[5, 6]

In [57]:
seq[::2]

[7, 3, 5, 0]

In [58]:
#useful effect of reversing a list or tuple:
seq[::-1]

[1, 0, 6, 5, 7, 3, 2, 7]

It's common when iterating over a sequence to want to keep track of the index of the
current item. A do-it-yourself approach would look like:

i=0

for value in collection:

    i+=1
    
Since this is so common,Python has a built-in function,**enumerate**,which returns a sequenct of (i,value)tuples:

for i,value in enumerate(collection):

In [1]:
some_list=['foo','bar','baz']
mapping={}

for i,v in enumerate(some_list):
    mapping[i]=v
    
mapping

{0: 'foo', 1: 'bar', 2: 'baz'}

In [2]:
sorted([7,1,2,6,0,3,2])

[0, 1, 2, 2, 3, 6, 7]

In [3]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [4]:
seq1=['foo','bar','baz']
seq2=['one','two','three']

zipped=zip(seq1,seq2)

list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [5]:
#zip can take an arbitrary 任意 number of sequences, and the number of elements it 
#produces is determined by the shortest sequence:

seq3=[False,True]

list(zip(seq1,seq2,seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [6]:
#A very common use of zip is simultaneously iterating over multiple sequences, possibly
#also combined with enumerate:

for i,(a,b) in enumerate(zip(seq1,seq2)):
    
    print('{0}:{1},{2}'.format(i,a,b))

0:foo,one
1:bar,two
2:baz,three

In [7]:
#Given a "zipped" sequence, zip can be applied in a clever way to "unzip" the sequence.
#Another way to think about this is converting a list of rows into a list of columns. 
#The syntax, which looks a bit magical, is:
pitchers=[("Nolan","Ryan"),("Roger","Clemens"),("Schilling","Curt")]

first_names,last_names=zip(*pitchers)

first_names

('Nolan', 'Roger', 'Schilling')

In [8]:
list(reversed(range(10)))

#Keep in mind that reversed is a generator, so it does not create the reversed sequence
#until materialized.

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

### dict
dict is likely the most important built-in Python data structure. A more common name
for it is hash map or associative array. It is a flexibly sized collection of key-value pairs, where key and value are Python objects. One approach for creating one is to use curly braces {} and colons to separate keys and values: