### Series

A series is a one-dimensional array-like object containing a sequence of values of similar types to NumPy types) and an associated array of data labels, called its index.

In [2]:
import pandas as pd

sdata={"Ohio":35000,"Texas":71000,"Oregon":16000,"Utah":5000}

states=["California","Ohio","Oregon","Texas"]

obj4=pd.Series(sdata,index=states)

obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [3]:
obj4.name="population"

obj4.index.name="state"

obj4

state
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: population, dtype: float64

In [5]:
import numpy as np

df1=pd.DataFrame(np.arange(12.).reshape((3,4)),columns=list("abcd"))

df2=pd.DataFrame(np.arange(20.).reshape((4,5)),columns=list("abcde"))

df1.add(df2,fill_value=0)

      a     b     c     d     e
0   0.0   2.0   4.0   6.0   4.0
1   9.0  11.0  13.0  15.0   9.0
2  18.0  20.0  22.0  24.0  14.0
3  15.0  16.0  17.0  18.0  19.0

In [6]:
df1.reindex(columns=df2.columns,fill_value=0)

     a    b     c     d  e
0  0.0  1.0   2.0   3.0  0
1  4.0  5.0   6.0   7.0  0
2  8.0  9.0  10.0  11.0  0