### Tuple

In [1]:
seq=[(1,2,3),(4,5,6),(7,8,9)]

for a,b,c in seq:
    print("a={0},b={1},c={2}".format(a,b,c))

a=1,b=2,c=3
a=4,b=5,c=6
a=7,b=8,c=9

In [2]:
values=1,2,3,4,5

a,b,*rest=values
rest

[3, 4, 5]

In [4]:
a,b,*_=values

### List

In [6]:
# everything=[]
# for chunk in list_of_lists:
#     everything.extend(chunk)
#faster
#     everything=everything+chunk

In [11]:
import bisect
c=[1,2,2,2,3,4,7]

bisect.bisect(c,2)

4

In [12]:
bisect.insort(c,6)
c

[1, 2, 2, 2, 3, 4, 6, 7]

In [14]:
some_list=["foo","bar","baz"]

mapping={}

for i,v in enumerate(some_list):
    mapping[v]=i
    
mapping

{'bar': 1, 'baz': 2, 'foo': 0}

In [16]:
seq1=["foo","bar","baz"]
seq2=["one","two","three"]

zipped=zip(seq1,seq2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [17]:
pitchers=[("Nolan","Ryan"),("Roger","Clemens"),("Schilling","Curt")]

first_names,last_names=zip(*pitchers)

first_names

('Nolan', 'Roger', 'Schilling')

In [18]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

### dict

In [23]:
d1={"a":"some value","b":[1,2,3,4],7:"an integer"}

list(d1.keys())

list(d1.values())

d1.update({"b":"foo","c":12})

d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

In [25]:
mapping=dict(zip(range(5),reversed(range(5))))
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [26]:
words=["apple","bat","bar","atom","book"]
by_letter={}

for word in words:
    letter=word[0]
    if letter not in by_letter:
        by_letter[letter]=[word]
    else:
        by_letter[letter].append(word)
        
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [27]:
for word in words:
    letter=word[0]
    by_letter.setdefault(letter,[]).append(word)

by_letter

{'a': ['apple', 'atom', 'apple', 'atom'],
 'b': ['bat', 'bar', 'book', 'bat', 'bar', 'book']}

In [28]:
from collections import defaultdict
by_letter=defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)
    
by_letter

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

### set

### List, Set and Dict comprehensions

In [29]:
strings=["a","as","bat","car","dove","python"]

[x.upper() for x in strings if len(x)>2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [30]:
{len(x) for x in strings}

{1, 2, 3, 4, 6}

In [31]:
[len(x) for x in strings]

[1, 2, 3, 3, 4, 6]

In [32]:
set(map(len,strings))

{1, 2, 3, 4, 6}

In [34]:
loc_mapping={val:index for val,index in enumerate(strings)}

loc_mapping

{0: 'a', 1: 'as', 2: 'bat', 3: 'car', 4: 'dove', 5: 'python'}

In [36]:
all_data=[["John","Emily","Michael","Mary","Steven"],
          ["Maria","Juan","Javier","Natalia","Pilar"]]

names_of_interest=[]

for names in all_data:
    enough_es=[name for name in names if name.count("e")>=2]
    names_of_interest.extend(enough_es)
    
names_of_interest

['Steven']

In [37]:
result=[name for names in all_data for name in names if name.count("e")>=2]
result

['Steven']

In [38]:
some_tuples=[(1,2,3),(4,5,6),(7,8,9)]

flattened=[x for tup in some_tuples for x in tup]

flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [39]:
[[x for x in tup] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

### Functions

In [41]:
states=["   Alabama","Georgial!","Gerogia","georgia","FlOrIda","south   carolina###","West virginia?"]

import re

def clean_strings(strings):
    result=[]
    for value in strings:
        value=value.strip()
        value=re.sub("[!#?]","",value)
        value=value.title()
        result.append(value)
    return result

clean_strings(states)

['Alabama',
 'Georgial',
 'Gerogia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [42]:
def remove_punctuation(value):
    return re.sub("[!#?]","",value)

clean_ops=[str.strip,remove_punctuation,str.title]

def clean_strings(strings,ops):
    result=[]
    for value in strings:
        for function in ops:
            value=function(value)
        result.append(value)
    return result

clean_strings(states,clean_ops)

['Alabama',
 'Georgial',
 'Gerogia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [43]:
for x in map(remove_punctuation,states):
    print(x)

   Alabama
Georgial
Gerogia
georgia
FlOrIda
south   carolina
West virginia

### Generators

In [44]:
def squares(n=10):
    print("Generating squares from 1 to {0}".format(n**2))
    for i in range(1,n+1):
        yield i**2
        
gen=squares()
gen

In [45]:
for x in gen:
    print(x,end=" ")

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

In [46]:
import itertools
first_letter=lambda x:x[0]

names=["Alan","Adam","Wes","Will","Albert","Steven"]

for letter,names in itertools.groupby(names,first_letter):
    print(letter,list(names))

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']