### Tuple
A tuple is a fixed-length, immutable sequence of Python objects. The easiest way to create one is with a comma-sequence of values:

In [1]:
tup=4,5,6

tup

(4, 5, 6)

In [2]:
nested_tup=(4,5,6),(7,8)

nested_tup

((4, 5, 6), (7, 8))

In [3]:
tuple([4,0,2])

(4, 0, 2)

In [5]:
tup=tuple('string')

tup

tup[0]

's'

In [9]:
#While the objects stored in a tuple may be mutable themselves, once the tuple is 
#created it's not possible to modify which object is tored in each slot:

tup=tuple(['foo',[1,2],True])

tup[2]=False

TypeError: 'tuple' object does not support item assignment

In [11]:
#if an object inside a tuple is mutable, such as a list, you can modify it in-place:

tup[1].append(3)
tup

('foo', [1, 2, 3, 3], True)

In [12]:
#you can concatenate tuple using the + operator to produce longer tuples:

(4,None,'foo')+(6,0)+('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [13]:
#multiplying a tuple by an integer, as with lists, has the effect of concatenating
#together that may copies of the tuple:

('foo','bar')*4

#Note that the objects themselves are not copies, only the references to them.

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [14]:
#if you try to assign to a tuple-like expression of variables, Python will attempt to
#unpack the value on the righthand side of the equals sign:

tup=(4,5,6)
a,b,c=tup
b

5

In [15]:
tup=4,5,(6,7)
a,b,(c,d)=tup
d

7

In [16]:
seq=[(1,2,3),(4,5,6),(7,8,9)]

for a,b,c in seq:
    print('a={0},b={1},c={2}'.format(a,b,c))

a=1,b=2,c=3
a=4,b=5,c=6
a=7,b=8,c=9

In [21]:
values=1,2,3,4,5
a,b,*rest=values

a,b
rest

[3, 4, 5]

In [25]:
a=(1,2,2,2,3,4,2)

a.count(2)

4

### List
In contrast with tuples, lists are variable-length and their contents can be modified in-place. you can define them using sequare brackets [] or using the list type function:

In [28]:
a_list=[2,3,7,None]
tup=('foo','bar','baz')

b_list=list(tup)

b_list

b_list[1]='peekaboo'
b_list

['foo', 'peekaboo', 'baz']

In [31]:
#The list function is freqquently used in data processing as a way to materialize an
#iterator or generator expression:

gen=range(10)
gen

list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [34]:
b_list.append('dwarf')

b_list

['foo', 'peekaboo', 'baz', 'dwarf', 'dwarf', 'dwarf']

In [36]:
b_list.insert(1,'red')

b_list

['foo', 'red', 'red', 'peekaboo', 'baz', 'dwarf', 'dwarf', 'dwarf']

In [37]:
b_list.pop(2)

'red'

In [38]:
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf', 'dwarf', 'dwarf']

In [39]:
b_list.append('foo')
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf', 'dwarf', 'dwarf', 'foo']

In [40]:
b_list.remove('foo')
b_list

['red', 'peekaboo', 'baz', 'dwarf', 'dwarf', 'dwarf', 'foo']

In [43]:
'red' in b_list

'dwarf' not in b_list

False

In [44]:
[4,None,'foo']+[7,8,(2,3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [45]:
#if you have a list already defined, you can append multiple elements to it using the
#extend method:

x=[4,None,'foo']
x.extend([7,8,(2,3)])

x

[4, None, 'foo', 7, 8, (2, 3)]

Note that list concatenation by addition is a comparatively expensive operation since a new list must be created and objects copied over. Using extend to append elements to an existing list, especially if you are building up a large list, is usually preferable. Thus,


everything=[]

for chunk in list_of_lists:

    everything.extend(chunk)
    
is faster than the concatenative alternative:

everything=[]

for chunk in list_of_list:

    everything=everything+chunk

In [46]:
#you can sort a list in-place (without creating a new object) by calling its sort 
#function:

a=[7,2,5,1,3]
a.sort()

a

[1, 2, 3, 5, 7]

In [47]:
b=['saw','small','He','foxes','six']

b.sort(key=len)

b

['He', 'saw', 'six', 'small', 'foxes']

In [51]:
#The built-in bisect 二分查找 module implement binary search and insertion into a 
#sorted list. bisect.bisect finds the location where an element should be inserted to
#keep it sorted, while bisect.insort actually inserts the element into that location:

import bisect
c=[1,2,2,2,3,4,7]
bisect.bisect(c,2)

bisect.insort(c,6)
c

#The bisect module functions do not check whether the list is sorted, as doing so
#would be computationally expensive.Thus, using them with an unsorted list will succeed
#without error but may lead to incorrect result.

[1, 2, 2, 2, 3, 4, 6, 7]

In [52]:
seq=[7,2,3,7,5,6,0,1]
seq[1:5]

#While the element at the start index is included, the stop index is not included, so
#that the number of elements in the result is stop-start

[2, 3, 7, 5]

In [53]:
seq[:5]

[7, 2, 3, 7, 5]

In [54]:
seq[3:]

[7, 5, 6, 0, 1]

In [55]:
seq[-4:]

[5, 6, 0, 1]

In [56]:
seq[-4:-2]

[5, 6]

In [57]:
seq[::2]

[7, 3, 5, 0]

In [58]:
#useful effect of reversing a list or tuple:
seq[::-1]

[1, 0, 6, 5, 7, 3, 2, 7]

It's common when iterating over a sequence to want to keep track of the index of the
current item. A do-it-yourself approach would look like:

i=0

for value in collection:

    i+=1
    
Since this is so common,Python has a built-in function,**enumerate**,which returns a sequenct of (i,value)tuples:

for i,value in enumerate(collection):

In [1]:
some_list=['foo','bar','baz']
mapping={}

for i,v in enumerate(some_list):
    mapping[i]=v
    
mapping

{0: 'foo', 1: 'bar', 2: 'baz'}

In [2]:
sorted([7,1,2,6,0,3,2])

[0, 1, 2, 2, 3, 6, 7]

In [3]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [4]:
seq1=['foo','bar','baz']
seq2=['one','two','three']

zipped=zip(seq1,seq2)

list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [5]:
#zip can take an arbitrary 任意 number of sequences, and the number of elements it 
#produces is determined by the shortest sequence:

seq3=[False,True]

list(zip(seq1,seq2,seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [6]:
#A very common use of zip is simultaneously iterating over multiple sequences, possibly
#also combined with enumerate:

for i,(a,b) in enumerate(zip(seq1,seq2)):
    
    print('{0}:{1},{2}'.format(i,a,b))

0:foo,one
1:bar,two
2:baz,three

In [7]:
#Given a "zipped" sequence, zip can be applied in a clever way to "unzip" the sequence.
#Another way to think about this is converting a list of rows into a list of columns. 
#The syntax, which looks a bit magical, is:
pitchers=[("Nolan","Ryan"),("Roger","Clemens"),("Schilling","Curt")]

first_names,last_names=zip(*pitchers)

first_names

('Nolan', 'Roger', 'Schilling')

In [8]:
list(reversed(range(10)))

#Keep in mind that reversed is a generator, so it does not create the reversed sequence
#until materialized.

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

### dict
dict is likely the most important built-in Python data structure. A more common name
for it is hash map or associative array. It is a flexibly sized collection of key-value pairs, where key and value are Python objects. One approach for creating one is to use curly braces {} and colons to separate keys and values:

In [1]:
empty_dict={}
d1={'a':'some value','b':[1,2,3,4]}

d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [2]:
d1[7]='an integer'
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [3]:
d1['b']

[1, 2, 3, 4]

In [4]:
'b' in d1

True

In [5]:
d1[5]='some value'
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

In [9]:
#del d1[5]
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [10]:
ret=d1.pop('a')
ret

'some value'

In [11]:
d1

{'b': [1, 2, 3, 4], 7: 'an integer'}

In [13]:
#The keys and values method give you iterators of the dict's keys and values,
#respectively. While the key-value pairs are not in any particular order, these 
#functions output the keys and value in the same order:

list(d1.keys())

list(d1.values())

[[1, 2, 3, 4], 'an integer']

In [14]:
d1.update({'b':'foo','c':12})

d1

{'b': 'foo', 7: 'an integer', 'c': 12}

It's common to occasionally end up with two sequences that you want to pair up
element-wise in a dict. As a first cut, you might write code like this:

mapping={}

for key,value in zip(key_list,value_list):

    mapping[key]=value

In [15]:
#Since a dict is essentially a collection of 2-tuples,the dict function accepts a list
#of 2-tuples:
mapping=dict(zip(range(5),reversed(range(5))))

mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

It's very common to have logical like:

if key in some_dict:

    value=some_dict[key]

else:

    value=default_value
   
Thus the dict methods get and pop can take a default value to be returned, so that the above if-else block can be written simply as:

value=some_dict.get(key,default_value)

get by default will return None if the key is not present, while pop will raise an exception. With setting values, a common case is for the values in a dict to be other collection, like lists. For example, you could imagine categorizing a list of words by their first letter as a dict of lists:

In [16]:
words=['apple','bat','bar','atom','book']
by_letter={}

for word in words:
    letter=word[0]
    if letter not in by_letter:
        by_letter[letter]=[word]
    else:
        by_letter[letter].append(word)
        
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [17]:
#The setdefault dict method is for precisely this purpose. The preceding for loop can
#be rewritten as:
for word in words:
    letter=word[0]
    by_letter.setdefault(letter,[]).append(word)

In [3]:
#The built-in collection module has a useful class, defaultdict, which makes this even
#easier. To create one, you pass a type or function for generating the default value
#for each slot in the dict:
words=['apple','bat','bar','atom','book']
from collections import defaultdict
by_letter=defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)

In [4]:
hash('string')

5087319567177665881

In [5]:
hash((1,2,(2,3)))

1097636502276347782

In [9]:
hash((1,2,[2,3]))

#fails because lists are mutable

In [10]:
#To use a list as a key, one option is to convert it to a tuple, which can be hashed
#as long as its elements also can:
d={}
d[tuple([1,2,3])]=5

d

{(1, 2, 3): 5}

### set
A set us an unordered collection of unique elements. you can think of them like dicts, but keys only, no values. A set can be created in two ways: via the set function or via a set literal with curly braces:

In [12]:
set([2,2,2,1,3,3])

{1, 2, 3}

In [13]:
{2,2,2,1,3,3}

{1, 2, 3}

In [16]:
#Sets support mathematical set operations like union, intersection, difference, and 
#symmetric difference.Consider these two example sets:
a={1,2,3,4,5}
b={3,4,5,6,7,8}

#The union of these two sets is the set of distinct elements occurring in either set.
#This can be computed with either the union method or the | binary operator:
a.union(b)

a|b

{1, 2, 3, 4, 5, 6, 7, 8}

In [19]:
#The intersection contains the elements occurring in both sets. The & operator or the
#intersection method can be used:
a.intersection(b)

a&b

{3, 4, 5}

In [21]:
#All of the logical set operations have in-place counterparts, which enable you to
# replace the contents of the set on the left side of the operation with the result.
#For very large sets, this may be more efficient: 类似于i+=1
a={1,2,3,4,5}
b={3,4,5,6,7,8}
c=a.copy()
c |= b
c

{1, 2, 3, 4, 5, 6, 7, 8}

In [1]:
#Like dicts, set elements generally must be immutable. To have list-like elements, you
#must convert it to a tuple:
my_data=[1,2,3,4]
my_set={tuple(my_data)}

my_set

{(1, 2, 3, 4)}

In [4]:
#you can also check if a set is a subset of or a superset of another set:
a_set={1,2,3,4,5}
{1,2,3}.issubset(a_set)

True

In [5]:
a_set.issuperset({1,2,3})

True

In [6]:
{1,2,3}=={1,2,3}

True

result=[]

for val in collection:
    
    if condition:
    
        result.append(expr)

The filter condition can be omitted, leaving only the expression. For example, given a list of strings, we could filter out strings with lengths 2 or less and also convert them to uppercase like this:

In [8]:
strings=['a','as','bat','car','dove','python']

[x.upper() for x in strings if len(x)>2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [10]:
unique_lengths={len(x) for x in strings}

unique_lengths

{1, 2, 3, 4, 6}

In [11]:
set(map(len,strings))

{1, 2, 3, 4, 6}

In [15]:
loc_mapping={val:index for index, val in enumerate(strings)}

loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

In [18]:
all_data=[['John','Emily','Michael','Mary','Steven'],
          ['Maria','Juan','Javier','Natalia','Pilar']]

names_of_interest=[]
for names in all_data:
    enough_es=[name for name in names if name.count('e')>=2]
    names_of_interest.extend(enough_es)

names_of_interest

['Steven']

In [3]:
#nested list comprehension
all_data=[['John','Emily','Michael','Mary','Steven'],
          ['Maria','Juan','Javier','Natalia','Pilar']]
result=[name for names in all_data for name in names
       if name.count('e')>=2]

result

['Steven']

In [4]:
some_tuples=[(1,2,3),(4,5,6),(7,8,9)]
flattened=[x for tup in some_tuples for x in tup]

flattened

#the same as
# for tup in some_tuples:
#     for x in tup:
#         flattened.append(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#you can have arbitrarily many levels of nesting, though if you have more than two or
#three levels of nesting you should probably